<h1>Sign Up for The "Hi" Site!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <div style='color:red'><%= error %></div>
  <% end %>
<% end %>
<br>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f. password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f. password_field :password_confirmation %>
  <br>
  <%= f.submit %>
<% end %>